<head>
    <%= stylesheet_link_tag 'actiontext' %>

    <style>
        .proyectos-link {
            transform: perspective(500px) translate3d(0, 0, 1.5rem);
            color: #656565;
        }
    </style>
</head>

<% content_for :title, "Editar artículo #{@proyecto.title}" %>

<div id='edit'>
    <%= render 'layouts/back' %>

    <h1 class='show-title gold'>Editar Articulo (Proyecto)</h1>

    <%= render 'form', proyecto: @proyecto %>
</div>