<head>
    <%= stylesheet_link_tag 'actiontext' %>

    <style>
        .proyects-link {
            color: #CCC !important;
        }
    </style>
</head>

<% content_for :title, "Editar artículo #{@proyecto.title}" %>

<div id='edit'>
    <%= render 'layouts/back' %>

    <h1 class='show-title gold'>Editar Articulo (Proyecto)</h1>

    <%= render 'form', proyecto: @proyecto %>
</div>