<style>
    .proyects-link {
        color: #CCC !important;
    }
</style>

<% content_for :title, "Nuevo artículo" %>

<h1 class='main-title'>Crear Artículo (Proyecto)</h1>

<div id='edit'>
    <%= render 'form', proyecto: @proyecto %>
</div>