<div class="big-card contacto centered">
    <h1 class='main-title'> Estás interesado en hablar con nosotros? </h1>

    <p class="big-text">
        Regístrate con nosotros para poder contactarte y acceder a nuestra newsletter o manda un mail a 
        
        <a class="link" href="mailto:olguitech@olguitech.com"> olguitech@olguitech.com </a>.
    </p>

    <%= link_to "Contactarse", contactos_path, class: "btn" %>
</div>
