<div class='information-section contacto lazy'>
    <h1 class='main-title'> Estás listo para hablar con nosotros? </h1>
    <h2 class='centered information-subtitle'> <%= I18n.t 'main.can_we_help_you' %> </h2>
    <p class='centered big-text information-text'> <%= I18n.t 'main.get_in_touch' %> </p>
</div>
