<%= link_to "/#{I18n.locale}/contacto", class:'information-section-link', method: :get do %>
<div class='information-section contacto'>
    <h2 class='information-title'> <%= I18n.t 'main.contact' %> </h2>
    <div class='information-subsection'>
        <h3 class='information-subtitle'> <%= I18n.t 'main.can_we_help_you' %> </h3>
    </div>

    <p class='information-text'> <%= I18n.t 'main.get_in_touch' %> </p>
</div>
<% end %>