<% content_for :title, "#{I18n.t 'nosotros.who_are_we'} | Olguitech s.a.s." %>

<div class='nosotros-front'>
    <div class="who-are-we">
        <h1 class="main-title centered">
            <%= I18n.t 'nosotros.who_are_we' %>
        </h1>
        <p class="subtitle">
            <%= I18n.t 'nosotros.who_are_we_message' %>
        </p>
    </div>

    <div class="how-are-we-different">
        <h1 class="main-title centered">
            <%= I18n.t 'nosotros.how_are_we_different' %>
        </h1>
        <p class="subtitle">
            <%= I18n.t 'nosotros.how_are_we_different_message' %>
        </p>
    </div>
</div>
