<div class='dashboard-holder'>
    <%= render 'dashboard' %>

    <div class='dashboard' data-controller="dashboard">
        <%= turbo_frame_tag 'super_categories', src: super_categories_path %>
    </div>
</div>
