<div class='dashboard-holder'>
    <%= render 'dashboard' %>

    <div class='dashboard' data-controller="dashboard">
        <h1 class='main-title'> Newsletters </h1>
        <%= link_to 'Nueva Newsletter', new_newsletter_path, class: 'btn centered' %>

        <h2 class="title centered"> Borradores </h2>
        <div class='dashboard-drafts'>
            <% if @newsletter_drafts.any? %>
                <div class='dashboard-card-holder' id='drafted_newsletters'>
                    <% @newsletter_drafts.each do |newsletter| %>
                        <%= render partial: 'newsletter', object: newsletter %>
                    <% end %>
                </div>
            <% else %>
                <h2 id='dashboard-message'> No hay ningún borrador </h2>
            <% end %>
        </div>

        <h2 class="title centered"> Newsletters enviadas </h2>
        <div class='dashboard-card-holder' id='sent_newsletters'>
            <% @newsletters.each do |newsletter| %>
                <%= render partial: 'newsletter', object: newsletter %>
            <% end %>
        </div>
    </div>
</div>
