<%= render 'dashboard' %>

<div class='articles-div' data-controller="dashboard">
    <h1 class='main-title'> Newsletters </h1>
    
    <h2 class="title centered"> Borradores </h2>
    <div class='dashboard-drafts'>
        <div>
            <div class='dashboard-card-holder' id='newsletter_drafts'>
                <% @newsletter_drafts.each do |newsletter| %>
                    <%= render partial: 'article', object: newsletter %> 
                <% end %>
            </div>
        </div>
        <h2 id='dashboard-message'> No hay ningún borrador </h2>
    </div>

    <h2 class="title centered"> Newsletters enviadas </h2>
    <div class='dashboard-card-holder' id='newsletters'>
        <% @newsletters.each do |newsletter| %>
            <%= render partial: 'article', object: newsletter %> 
        <% end %>
    </div>
</div>
