<div class='dashboard-holder'>
    <%= render 'dashboard' %>

    <div class='dashboard' data-controller='dashboard'>
        <h1 class='main-title'> Papelera </h1>

        <% if @solutions.any? %>
            <h2 class="title centered"> Soluciones </h2>
            <div class='dashboard-card-holder'>
                <% @solutions.each do |article| %>
                    <%= render partial: 'article', object: article %>
                <% end %>
            </div>
        <% end %>

        <% if @projects.any? %>
            <h2 class="title centered"> Proyectos </h2>
            <div class='dashboard-card-holder'>
                <% @projects.each do |article| %>
                    <%= render partial: 'article', object: article %>
                <% end %>
            </div>
        <% end %>

        <% if @products.any? %>
            <h2 class="title centered"> Productos </h2>
            <div class='dashboard-card-holder'>
                <% @products.each do |article| %>
                    <%= render partial: 'article', object: article %>
                <% end %>
            </div>
        <% end %>

        <% if [ @solutions, @projects, @products ].flatten.empty? %>
            <h2 id='dashboard-message' style='display: block;'> La papelera está vacía </h2>
        <% end %>
    </div>
</div>
