<head>
    <%= stylesheet_link_tag 'actiontext' %>

    <style>
        .articles-link {
            transform: perspective(500px) translate3d(0, 0, 1.5rem);
            color: #656565;
        }
    </style>
</head>

<% content_for :title, "Nuevo artículo" %>

<div id='edit'>
    <%= render 'layouts/back' %>

    <h1 class='show-title gold'>Crear Artículo (Solucion)</h1>

    <%= render 'form', article: @article %>
</div>