<% content_for :title, 'Newsletters | Olguitech s.a.s.' %>

<h1 class='main-title'> Newsletters </h1>

<div class='articles-div articles-div2'>
    <%= alternative_cards_for @newsletters, image: false %>
</div>
