<head>
    <%= stylesheet_link_tag 'actiontext' %>
</head>

<% content_for :title, "Nueva newsletter" %>

<div id='edit'>
    <%= render 'layouts/back' %>

    <h1 class='show-title gold'>Enviar Newsletter</h1>

    <%= render 'form', newsletter: @newsletter %>
</div>