<style>
    #newsletter-link {
        color: #CCC !important;
    }
</style>

<% content_for :title, "#{@newsletter.title} | Olguitech s.a.s." %>

<article>
    <h1 class='main-title'> <%= @newsletter.get_title %> </h1>

    <p class='subtitle'> <%= @newsletter.get_desc %> </p>

    <div class="content">
        <div class='show-text'>
            <p class='article-text'> <%= @newsletter.get_content %> </p>
        </div>
    </div>

    <i id='back-to-top' tabindex='0'>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up" width="44" height="44" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <polyline points="6 15 12 9 18 15" />
        </svg>
    </i>
</article>

<%= javascript_pack_tag 'show' %>