<% content_for :title, 'Usuarios' %>

<%= turbo_frame_tag 'dashboard-users' do %>
    <div data-controller="user-index">
        <h1 class="main-title"> Usuarios </h1>

        <div class="field" id="user-index-field">
            <input class="centered" data-action="input->user-index#search" data-user-index-target="search" id="searchbar" type="text" name="search" placeholder="Buscar usuarios..">
        </div>

        <input type="checkbox" id="toggle-filter" data-action="change->user-index#toggleFilter" data-user-index-target="toggle" class="btn-check">
        <label class="btn centered" for="toggle-filter"> Filtrar confirmados </label>

        <div class="table">
            <table class="user" id="users">
                <tr>
                    <th> Email </th>
                    <th> Nombre </th>
                    <th> Empresa </th>
                    <th> Teléfono </th>
                    <th> Suscrito </th>
                    <th> Mensajes </th>
                    <th> Idioma </th>
                    <th> Acciones </th>
                </tr>

                <%= render partial: 'user', collection: @users %>
            </table>
        </div>

        <%= link_to 'Crear nuevo usuario', new_user_path, data: { turbo_frame: '_top' }, class: 'btn new-user centered' %>
    </div>
<% end %>
