<% content_for :title, 'Usuarios' %>

<%= turbo_frame_tag 'dashboard-users' do %>
    <div data-controller="user-index">
        <h1 class='main-title'> Usuarios </h1>

        <div class="field" id="user-index-field">
            <input class="centered" data-action="input->user-index#search" data-user-index-target="search" id="searchbar" type="text" name="search" placeholder="Buscar usuarios..">
        </div>

        <div class="table">
            <table class="user" id="users">
                <tr>
                    <th> Email </th>
                    <th> Nombre </th>
                    <th> Compañía </th>
                    <th> Teléfono </th>
                    <th> Newsletter? </th>
                    <th> Mensaje </th>
                    <th> Idioma </th>
                    <th> Editar </th>
                </tr>

                <% @users.each do |user| %>
                    <%= render 'user', user: %>
                <% end %>
            </table>
        </div>

        <%= link_to 'Crear nuevo usuario', new_user_path, data: { turbo_frame: '_top' }, class: 'btn new-user centered' %>
    </div>
<% end %>
