<head>
    <%= stylesheet_link_tag 'nosotros' %>

    <style>
    .nosotros-link {
        transform: perspective(500px) translate3d(0, 0 , 1rem);
        color: #CCC !important;
    }
    </style>
</head>

<div class='nosotros-front'>
    <div class='nosotros-front-part'>
        <h2 class='quienes-somos'> ¿Quiénes Somos? </h2>
        <p class='quienes-somos-text'>
            En Olguitech amamos lo que hacemos, por eso nos esforzamos para brindarle el mejor servicio y los mejores productos. Ya sea asesorándolo en la selección de un producto, asistiéndolo en la instalación o la puesta en marcha, cuando realizamos una aplicación, un proyecto o la implantación del mismo, damos todo de nosotros mismos para que nuestro vínculo con usted o su empresa sea duradero.
        </p>
    </div>
    <h2 class='quienes-somos'> ¿Cómo Somos Diferentes? </h2>
    <p class='quienes-somos-text'>
        Nuestra diferencia está en el servicio, el conocimiento y la voluntad de mejorar continuamente. Cuando necesite decidir la compra de un insumo para su industria, comercio o cualquiera sea su actividad, cuando piense en ampliar, automatizar o simplemente busque la forma de mejorar su proceso o instalación llamenos que le asesoraremos.
    </p>
</div>

<% if false %>
<div id='equipo-div'>
    <h1 class='nosotros-title'>Nuestro Equipo</h1>

    <div class='profiles'>
        <div class='profile'>
            <img src='/gente/hombre3.webp' class='profile-img'>
            <h2 class='profile-title'>
                Giovanni Romanutti
            </h2>

            <h3 class='profile-profession'>
                CEO
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/hombre2.webp' class='profile-img'>
            <h2 class='profile-title'>
                Pauhlo Sousa Schmidt
            </h2>

            <h3 class='profile-profession'>
                CTO
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/mujer1.webp' class='profile-img'>
            <h2 class='profile-title'>
                Lorena Martínez de Bulgheroni
            </h2>

            <h3 class='profile-profession'>
                HR Director
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/hombre1.webp' class='profile-img'>
            <h2 class='profile-title'>
                Harvey Brown
            </h2>

            <h3 class='profile-profession'>
                Electrical Engineer
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/mujer4.webp' class='profile-img'>
            <h2 class='profile-title'>
                Amelia Jones
            </h2>

            <h3 class='profile-profession'>
                Reaserch Intern
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/hombre4.webp' class='profile-img'>
            <h2 class='profile-title'>
                André Santos
            </h2>

            <h3 class='profile-profession'>
                Web Developer
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/mujer3.webp' class='profile-img'>
            <h2 class='profile-title'>
                Betty Rodríguez
            </h2>

            <h3 class='profile-profession'>
                Concierge
            </h3>
        </div>

        <div class='profile'>
            <img src='/gente/mujer2.webp' class='profile-img'>
            <h2 class='profile-title'>
                Tiffany Nguyen de Anchorena
            </h2>

            <h3 class='profile-profession'>
                Secretary
            </h3>
        </div>
    </div>
</div>
<% end %>

<%= javascript_pack_tag 'nosotros-index' %>