<%= link_to contactos_path, class:'information-section-link', method: :get do %>
  <div class='information-section contacto'>
    <h2 class='information-title'> Contacto </h2>
    <div class='information-subsection'>
      <h3 class='information-subtitle'> Te podemos ayudar en algo? </h3>
    </div>
    
    <p class='information-text'> Contactate con nosotros </p>
  </div>
<% end %>