<h1><%= @user.name || @user.email %> se ha contactado</h1>

<p>
    <%= @message.content %>
</p>
<p>
    <strong>Email:</strong> <%= mail_to @user.email %>
</p>
<p>
    <strong>Idioma:</strong> <%= @user.locale %>
</p>
