<p>
    <%= t 'mail.contact.body_html', name: @name, message: @message %> <br> <br>

    <% unless @confirmed %>
        <%= t('mail.contact.confirmation_html', link: @confirmation_link) %> <br> <br>
    <% end %>

    <%= t('mail.contact.edit_html', link: @edit_link) %>
</p>
