@import "settings";
@import "users-index";

.icon-tabler-square-plus,
.icon-tabler-circle-plus,
.icon-tabler-news,
.icon-tabler-users {
    color: $accent-color;
}

#admin-tools {
    right: 0;
    bottom: 0;
    z-index: 9;
    position: fixed;
    display: flex;
    padding: 0.5rem;

    @media only screen and (max-width: 70rem) {
        padding: 0.2rem;
    }
}

.right-navbar-section.admin-right {
    width: 67%;

    @media only screen and (max-width: 80rem) {
        width: 74%;
    }

    @media only screen and (max-width: 70rem) {
        width: 77%;
    }
}

.edit i {
    margin-top: 3rem;
}

.destroy i {
    margin-top: 6.2rem;
}

#edit {
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: 67rem) {
        width: 95%;
    }
}

.rich-text.field {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;

    & trix-editor {
        max-height: 30rem;
        overflow-y: auto;
    }
}

.right-tool {
    display: block;
    right: 0;
    bottom: 0;
    width: 55px;
    height: 55px;
    margin: 10px;
    z-index: 10;
    color: $accent-color;
    position: relative;

    @media only screen and (max-width: 70rem) {
        margin: 5px;
    }
}

.image-upload {
    width: 75%;
    height: auto;
}