@import "settings";

.icon-tabler-square-plus,
.icon-tabler-circle-plus,
.icon-tabler-news,
.icon-tabler-users {
    color: $accent-color;
}

#admin-tools {
    right: 0;
    bottom: 0;
    z-index: 9;
    position: fixed;
    display: flex;
    padding: 0.5rem;
}

.right-navbar-section.admin-right {
    width: 67%;

    @media only screen and (max-width: 80rem) {
        width: 74%;
    }

    @media only screen and (max-width: 70rem) {
        width: 77%;
    }
}

.edit i {
    margin-top: 3rem;
}

.destroy i {
    margin-top: 6.2rem;
}

#edit {
    padding: 1rem;
    background-color: $color1;
    color: $color2;
    font-size: 1.1rem;
    min-height: 35rem;
}

.right-tool {
    display: block;
    right: 0;
    bottom: 0;
    width: 55px;
    height: 55px;
    margin: 10px;
    z-index: 10;
    color: $accent-color;
    position: relative;
}