@import "settings";

.alert,
.notice {
    right: 0;
    padding: 0.6rem;
    margin: 1rem 0.5rem;
    display: flex;
    width: 25rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    font-size: 0.95rem;
    font-family: "Montserrat", "Helvetica", sans-serif;
    transform: translateY(0);
    transition: transform 1s;
    background-color: $color4;
    border-radius: 0.7rem;
    border: solid 2px;
    color: white;

    @media only screen and (max-width: 40rem) {
        width: 85%;
        padding: 2%;
        margin-right: 5%;
    }
}

.notice {
    border-color: rgb(157, 255, 0);
}

.alert {
    border-color: rgb(211, 37, 37);
}

.close-notice,
.close-alert {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

.close-notice svg,
.close-alert svg {
    vertical-align: middle;
}

.alert p,
.notice p {
    width: 96%;

    @media only screen and (max-width: 70rem) {
        width: 94%;
    }

    @media only screen and (max-width: 40rem) {
        width: 90%;
    }

    @media only screen and (max-width: 380px) {
        width: 85%;
    }
}

.alert.disappear,
.notice.disappear {
    transform: translateX(30rem);

    @media only screen and (max-width: 40rem) {
        transform: translateY(-20rem);
    }
}
