@import "settings";
// @import "sass/form/_all.sass";

// 1. GENERAL //

* {
    font-family: "Source Sans Pro", "Helvetica Neue", helvetica,
        "Apple Color Emoji", arial, sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.link {
    font-size: 1.4rem;
    display: inline-block;
    text-decoration: none;
    color: #333;
    transition: background 0.25s, color 0.25s;
    border-radius: 0.3rem;
    width: auto;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    font-weight: 600;
    background-color: white;
    height: fit-content;

    &:visited {
        text-decoration: none;
        color: #333;
    }

    &:hover {
        background-color: hsl(26.7, 23.1%, 92.4%);
        color: #f4923c;
    }
}

.btn {
    font-size: 1.4rem;
    display: inline-block;
    text-decoration: none;
    color: #333;
    transition: background 0.25s, color 0.25s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0.3rem;
    width: auto;
    height: fit-content;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    font-weight: 600;
    background-color: hsl(26.7, 23.1%, 92.4%);

    &:visited {
        text-decoration: none;
        color: #333;
    }

    &:hover {
        background-color: hsl(26.7, 23.1%, 87.4%);
        color: #f4923c;
    }
}

.main-title {
    color: #f4923c;
    font-size: 4.2rem;
    text-align: center;
    margin: 2rem auto 2rem auto;
    width: 80%;
    font-weight: 900;
    line-height: 67px;
    letter-spacing: -0.01em;

    @media only screen and (max-width: 67rem) {
        width: 95%;
        font-size: 3.1rem;
    }

    @media only screen and (max-width: 35rem) {
        font-size: 2.5rem;
        line-height: 43px;
    }
}

.title {
    font-size: 2.2rem;
    font-weight: 900;
    color: #f4923c;

    @media only screen and (max-width: 60rem) {
        font-size: 2rem;
    }
}

.subtitle {
    margin: 0 auto 0 auto;
    width: 75%;
    font-size: 2.2rem;
    text-align: center;

    @media only screen and (max-width: 67rem) {
        width: 95%;
        font-size: 1.7rem;
    }
}

.big-text {
    font-size: 1.4rem;
}

.big-card {
    box-sizing: border-box;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    padding: 2rem;

    @media only screen and (max-width: 35rem) {
        width: 95%;
    }
}

// Card Holder

.cards-holder {
    width: 85%;
    display: flex;

    @media only screen and (max-width: 35rem) {
        width: 95%;
    }
}

.cards-holder .grid {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @media only screen and (max-width: 67rem) {
        display: block;
    }
}

.card {
    border-radius: 1rem;
    width: 100%;
    height: 45rem;

    @media only screen and (max-width: 67rem) {
        height: auto;
        margin-bottom: 2rem;
    }
}

.card-single {
    width: 50%;
}

.card.still {
    transform: translateY(2rem);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.card.move {
    transform: translateY(0);
    opacity: 1;
}

.card img {
    width: 100%;
    height: 27rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1rem;

    @media only screen and (max-width: 35rem) {
        height: 25rem;
    }
}

.card div {
    padding: 0.2rem;
}

.card .title {
    margin: 0.5rem 0 0.5rem 0;
}

// 2. NAVBAR //

nav {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: white;
    font-size: 0.9rem;
}

.left-navbar-section {
    height: 5.7em;
    width: 13.02rem;
    padding: 0;
    margin: 0 auto 0 0.4rem;
}

.logo {
    height: 100%;
    width: auto;
    padding-left: 0.3rem;
}

.right-navbar-section {
    text-align: center;
    display: flex;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

nav .link,
nav .btn {
    margin: 0 0.5rem 0 0.5rem;
}

.dropdown {
    display: inline-flex;
    position: relative;
    vertical-align: top;
    width: 8rem;
}

// .dropdown.is-active {
//     box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
//         0 0px 0 1px rgba(10, 10, 10, 0.02);
// }

.dropdown.is-active .dropdown-trigger .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-trigger .btn {
    position: absolute;
}

.dropdown-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    height: 1rem;
    width: 1rem;
}

.dropdown .btn {
    box-sizing: border-box;
    width: 8rem;
    margin: 0;
    height: 100%;
    z-index: 11;
    transition: background 0.25s, color 0.25s, stroke 0.25s;
}

.dropdown.is-active .dropdown-menu {
    visibility: visible;
    transform: translateY(0);
}

.dropdown.is-active .dropdown-menu .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu {
    left: 0;
    width: 8rem;
    position: absolute;
    top: 100%;
    z-index: 10;
    transform: translateY(-100%);
    transition: transform 0.25s;
}

.dropdown-menu .btn {
    width: 100%;
    transition: background 0.25s, color 0.25s, stroke 0.25s, border-radius 0.25s;
}

// 2.2 Dropdown //

#dropdown-bars {
    display: none;
    cursor: pointer;
    margin: auto 1rem auto 0;
    color: black;
    position: absolute;
    right: 0.4rem;
    top: 1rem;
    bottom: 1rem;
    transition: color 1s;
}

#dropdown-bars:focus {
    color: #333;
    outline: none;

    .line1 {
        transform: translateY(-0.07rem);
    }
    .line2 {
        transform: translateY(0.07rem);
    }
}

.icon-tabler-chevron-down {
    position: absolute;
    top: -0.5rem;
    right: -0.3rem;
    transition: transform 1s;
    display: none;
}

.icon-tabler-chevron-down.extend {
    transform: rotateZ(180deg) translateY(0) !important;
}

.line1,
.line2 {
    transform: rotateZ(0deg);
    transition: transform 0.5s;
}

.line1.move {
    transform: rotateZ(45deg) translateX(0.3rem) translateY(-0.25rem) !important;
}

.line2.move {
    transform: rotateZ(-45deg) translateX(-1.01rem) translateY(0.04rem) !important;
}

@-webkit-keyframes extend {
    0% {
        height: 0;
    }
    100% {
        height: 20rem;
    }
}

@keyframes extend {
    0% {
        height: 0;
    }
    100% {
        height: 20rem;
    }
}

@-webkit-keyframes de-extend {
    0% {
        height: 20rem;
    }
    100% {
        height: 0;
        min-height: 0;
        max-height: 0;
    }
}

@keyframes de-extend {
    0% {
        height: 20rem;
    }
    100% {
        height: 0;
        min-height: 0;
        max-height: 0;
    }
}

// 3. ICONS //

.fas {
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    cursor: pointer;
}

.articles-fas {
    color: black;
    text-decoration: none;
    position: fixed;
    z-index: 10;
}

.articles-fas:visited {
    color: black;
    text-decoration: none;
}

.articles-fas:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

.back {
    z-index: 30;

    @media only screen and (max-width: 40rem) {
        display: none;
    }
}

i {
    transition: transform 0.5s;
    transform: translateX(0px);
    font-style: normal;
    color: black;
}

.back i:hover {
    transform: translateX(-10px);
}

.back:focus i {
    transform: translateX(-10px);
}

i h3 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
}

// 4. VARIOUS //
.more-link {
    width: 10rem;
    background-color: $color3;
    color: $color1;
    border-radius: 2rem;
    display: flex;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.8s;
    height: auto;
}

.more-link a {
    width: 100%;
    display: flex;
}

.more-link .icon {
    margin: 0.5rem;
    color: $color1;
}

.more-text {
    font-weight: bold;
    line-height: 1.6;
    color: $color1;
    font-size: 1rem;
}

.more-link:hover {
    background-color: $color5;
}

@media only screen and (max-width: 67rem) {
    .right-navbar-section {
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 99;
        background-color: white;
        position: fixed;
        padding: 1rem 2rem 1rem 2rem;
        margin-top: 5.1em;
        transform: translateY(-200%);
        transition: transform 0.8s;
        will-change: transform;
        visibility: hidden;
        overflow-y: auto;
        display: block;
    }

    .right-navbar-section .link,
    .right-navbar-section .btn {
        width: fit-content;
        display: block;
        margin: 0 auto 1rem auto;
    }

    .right-navbar-section.show {
        transform: translateX(0);
        visibility: visible;

        .icon-tabler-chevron-down2 {
            visibility: visible;
        }
    }

    #dropdown-bars {
        display: block;
    }
}

img.lazy {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
