@import "settings";

#contacto-link {
    color: #ccc !important;
}

.contact-div {
    background-color: $color1;
    margin-top: 0;
    display: flex;
    z-index: 10;
    height: 100%;

    @media only screen and (max-width: 70rem) {
        display: block;
    }
}

.contact-sub-div {
    margin-left: 50%;
    width: 50%;
    padding: 2rem;
    padding-bottom: 6rem;

    @media only screen and (max-width: 70rem) {
        width: 90%;
        padding: 5%;
        padding-bottom: 5rem;
        margin-left: 0%;
    }
}

.contact-div .big-navbar-link {
    display: block;
    margin: 2.5rem 0 2.5rem 0;
    max-width: 15rem;
    font-size: 1.5rem;
}

.contact-button {
    cursor: pointer;
    transition: color 0.8s;
    width: 15rem;
    padding: 0.7rem;
    border-radius: 0.8rem;
    margin: 0;
    background-color: $color2;
    color: $color1;
    text-align: center;
    transition: background-color 0.8s, color 0.8s;
}

.contact-button:visited {
    color: $color1;
}

.contact-button:hover {
    color: $color6;
    background-color: $color5;
}

.contact-button a {
    color: inherit;
}

.location-container {
    width: 50%;
    bottom: 0;
    top: 5.15em;
    left: 0;
    position: fixed;

    @media only screen and (max-width: 70rem) {
        width: 100%;
        height: 25rem;
        position: relative;
        top: 0;
    }
}

.location-info {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    background-color: $color2;
    padding: 0.6rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.contact-alternative {
    color: $color2;
    font-size: 1.7rem;

    @media only screen and (max-width: 40rem) {
        font-size: 1.4rem;
    }
}

.contact-mail {
    color: $accent-color;
    padding: 0 0.2rem 0 0.2rem;
}

.contact-mail:hover {
    color: $accent-color;
    text-decoration: underline;
}

.field {
    padding: 2rem;
    width: 60%;
    margin: 7rem auto 2rem auto;
    background-color: $color4;
    border-radius: 1.7rem;

    @media only screen and (max-width: 70rem) {
        width: 85%;
        padding: 1.5rem;
    }
}

.preference {
    color: $color2;
    font-size: 2rem;
}

select {
    max-width: 80%;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    padding: 0.3rem;

    @media only screen and (max-width: 40rem) {
        width: 100%;
    }
}

textarea {
    width: 100%;
    height: 10rem;
    background-color: $color6;
    color: #fff;
    font-size: 1.1rem;
    resize: vertical;
    font-family: "Open Sans", "Arial", "sans-serif";
}

#map a {
    color: $link;
}

#map a:hover {
    color: $link-h;
}
