.dashboard-holder {
    display: inline-flex;
    width: 100%;

    @media only screen and (max-width: 50rem) {
        display: block;
    }
}

.dashboard {
    display: block;
    width: 80%;
    margin: 0 1% 0 1%;

    @media only screen and (max-width: 50rem) {
        width: 95%;
        margin: 0 auto 0 auto;
    }
}

.dashboard-card-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-drafts {
    padding-top: 0.01rem;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    border-radius: 1rem;
}

.btn.drafted,
.btn.published,
.btn.trashed {
    display: none;
}

.drafted .drafted {
    display: inline-block;
}
.published .published {
    display: inline-block;
}
.trashed .trashed {
    display: inline-block;
}

#dashboard-message {
    text-align: center;
    color: #444;
    padding: 2rem;
    margin: 0;
}

.map {
    display: flex;
}

.map-column {
    height: auto;
    width: 21%;
    margin: 6%;
}

.map-row {
    display: none;

    &.show {
        display: block;
        cursor: pointer;
    }
}
