.dashboard-holder {
    display: inline-flex;
    width: 100%;

    @media only screen and (max-width: 50rem) {
        display: block;
    }
}

.dashboard {
    display: block;
    width: 80%;
    margin: 0 1% 0 1%;

    @media only screen and (max-width: 50rem) {
        width: 95%;
        margin: 0 auto 0 auto;
    }
}

.dashboard-card-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-drafts {
    padding-top: 0.01rem;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    border-radius: 1rem;
}

#dashboard-message {
    text-align: center;
    color: #444;
    padding: 2rem;
    margin: 0;
}

.map {
    display: flex;
}

.map-column {
    height: auto;
    width: 21%;
    margin: 6%;
}

.map-row {
    display: none;

    &.show {
        display: block;
        cursor: pointer;
    }
}

.menu {
    align-self: flex-start;
    width: 17%;
    position: sticky;
    left: 1%;
    top: 2rem;
    bottom: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    color: #333;

    @media only screen and (max-width: 67rem) {
        width: 20%;
    }

    @media only screen and (max-width: 50rem) {
        width: auto;
        position: unset;
        margin-left: 1rem;
        margin-right: 1rem;
        border-bottom: 0.15rem solid #333;
    }

    & .link {
        display: block;
        margin-bottom: 0.2rem;
        max-width: 95%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        font-size: 1.2rem;
    }
}
