@import "settings";

.form-div {
    width: 30rem;
}

form {
    margin-bottom: 2rem;
}

.input input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #dbdbdb;
    border-radius: 0.3rem;
    outline: none;
    padding: 0.4rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    width: 100%;
}

.input input:hover {
    border-color: #b5b5b5;
}

.input input:focus, .input input:active {
    border-color: #485fc7;
    box-shadow: 0 0 0 .125em rgba(72,95,199,.25);
}

.checkbox {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    width: 30%;
}

#user_remember_me,
#admin_remember_me,
#user_newsletter {
    margin-top: 2rem;
    width: auto;
    height: auto;
    display: inline-block;
}

.form-inputs {
    width: 100%;
    margin-bottom: 2rem;
}

.error_notification {
    color: $color2;
}

.error {
    color: #ff5f5f;
    display: block;
}

.field_with_errors input {
    background-color: red;
}

#user_password,
#user_password_confirmation {
    transition: background-color 0.5s;
}

.right {
    background-color: greenyellow;
}

.wrong {
    background-color: red;
}

#close-session {
    margin-top: 3rem !important;
}
