@import "settings";

// For /articles   //
//     /products   //
//     /proyectos  //
//     /categories //

.articles-div {
    display: block;
    width: 80%;
    margin: 0 2.5% 5rem 17.5%;

    @media only screen and (max-width: 72rem) {
        width: 70%;
        margin: 0 4% 5rem 26%;
    }

    @media only screen and (max-width: 50rem) {
        width: 92.5%;
        margin: 0 auto 5rem auto;
    }
}

.articles-div .cards-holder {
    width: 100%;
}

.articles-div2 {
    margin: 0 auto 5rem auto;
    width: 90%;

    @media only screen and (max-width: 72rem) {
        margin: 0 auto 5rem auto;
    }
}

.menu {
    position: fixed;
    left: 1rem;
    top: 7rem;
    bottom: 0rem;
    overflow-y: auto;
    color: $color2;

    @media only screen and (max-width: 50rem) {
        display: none;
    }
}

.icon-tabler-minus-vertical {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;

    & path {
        transition: all 0.5s;
    }
}

.menu-title {
    transition: padding 0.5s;
    color: #aaa;
    margin-bottom: 0.4rem;

    &.visible {
        padding-left: 0.3rem;
    }

    & .link {
        font-size: 1.2rem;
    }
}

.category {
    padding-top: 3rrem;
    border-bottom: solid $color6 2px;
}

.products-div .category {
    border-bottom: solid $color6 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border-radius: 0.4rem;
    background-color: $color6;

    @media only screen and (max-width: 50rem) {
        display: block;
    }
}

h4.visible {
    padding-left: 0.4rem;
    color: $color2;
}
