@import "settings";

// For /solutions   //
//     /products   //
//     /projects   //
//     /categories //

.articles-div {
    display: block;
    width: 80%;
    margin: 0 1% 0 1%;

    @media only screen and (max-width: 50rem) {
        width: 95%;
        margin: 0 auto 0 auto;
    }

    & .cards-holder {
        width: 100%;
    }
}

.super-category-selector p {
    margin: 0 0 0.2rem 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.super-category {
    display: inline-flex;
    width: 100%;

    @media only screen and (max-width: 50rem) {
        display: block;
    }
}

.category {
    padding-bottom: 4rem;
    border-bottom: solid #aaa 2px;

    & .category-articles {
        flex-wrap: wrap;
        display: flex;
    }
}

.dropdown-holder {
    height: 2.5rem;
    display: flex;

    & .dropdown {
        margin-left: auto;
        margin-right: auto;
        width: 15rem;
    }
}
