@import "settings";

.front {
    background: url("/Fondo.webp") no-repeat fixed;
    // background-image: linear-gradient(180deg, #001336, #d3270e);
    background-size: cover;
    padding: 1rem 0 5rem;
    border-bottom: $color2 0.5rem solid;

    @media only screen and (max-width: 65rem) {
        background-image: linear-gradient(180deg, #001336, #d3270e);
    }
}

.title {
    color: $color2;
    width: 100%;
    font-size: 5rem;
    margin-bottom: 22rem;
    text-align: center;
    font-weight: bolder;
    font-family: Montserrat, sans-serif;
    letter-spacing: 10px;

    @media only screen and (max-width: 70rem) {
        font-size: 4rem;
        letter-spacing: 9px;
    }

    @media only screen and (max-width: 50rem) {
        font-size: 3.5rem;
        letter-spacing: 7px;
    }
}

.subtitle-div {
    background-color: $color1;
    margin: 6rem 6rem 3rem 6rem;
    border-radius: 1rem;
    padding: 1rem;
    transition: opacity 1s, margin-top 1s;
    opacity: 0.8;
    box-shadow: 10px 10px 14px hsla(0, 0, 0, 0.3);
    height: auto;

    @media only screen and (max-width: 80rem) {
        // height: 28rem;
    }

    @media only screen and (max-width: 70rem) {
        margin: 6rem 3rem 3rem 3rem;
        // height: 30rem;
    }

    @media only screen and (max-width: 40rem) {
        margin: 6rem 1rem 3rem 1rem;
        // height: 33rem;
    }

    @media only screen and (max-width: 30rem) {
        margin: 6rem 1rem 3rem 1rem;
        // height: 37rem;
    }
}

.subtitle-div1.move,
.subtitle-div2.move {
    opacity: 1;
    margin-top: 3rem;
}

.subtitle {
    font-size: 3.5rem;
    color: $color2;
    padding: 1rem;
    letter-spacing: 0.7px;
    margin: 0;

    @media only screen and (max-width: 40rem) {
        font-size: 3rem;
    }
}

.subtitle-information {
    width: 70%;
    font-size: 1.5rem;
    color: $color3;
    text-align: justify;
    letter-spacing: 0.7px;
    margin-right: 2%;
    margin-left: 28%;
    padding: 0.5rem 0 0 1rem;

    @media only screen and (max-width: 60rem) {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        text-align: left;
        padding: 0.5rem 0 0 0;
    }
}

.article-link .more-link {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
}

.articles-section {
    border-bottom-width: 0.5rem;
    border-bottom-color: $color2;
    border-bottom-style: dotted;
    background-color: $color1;
    padding: 2rem;
    padding-top: 7rem;
    padding-bottom: 5rem;
    position: relative;
    z-index: 1;
    color: $color1;
    margin: 0;
    transition: padding-top 1s, opacity 1s;
    opacity: 0.05;
}

.articles-section.move {
    padding-top: 3rem;
    opacity: 1;
}

.articles-title {
    color: $color2;
    font-size: 35px;
    text-align: center;
    margin-top: 0;
}

.slider-hider {
    color: $color2;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
}

.slider-hider a {
    color: $color2;
}

.slider-hider a {
    color: $color2;
}

.slider-hider a:visited {
    color: $color2;
}

.slider {
    display: flex;
    width: 100%;
    position: relative;
    height: 25rem;

    @media only screen and (max-width: 50rem) {
        height: 35rem;
    }
}

.slider-alternative {
    width: 100%;
    display: none;
    flex-wrap: wrap;
}

#slider-container {
    width: 100%;
}

#next,
#previous {
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
    transform: translateX(0px);
    transition: transform 0.5s;
    position: absolute;
    margin-top: 10rem;
    margin-bottom: 10rem;
    height: auto;

    @media screen and (max-width: 50rem) {
        width: 0;
        margin: 0;
        display: none;
    }
}

#next {
    right: 0;
}

#previous {
    left: 0;
}

#previous:hover {
    transform: translateX(-10px);
}

#next:hover {
    transform: translateX(10px);
}

.article {
    background-color: $color4;
    position: absolute;
    width: 85%;
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s, border-radius 1s, transform 1s, opacity 1s;
    display: flex;
    transform: perspective(500px) translate3d(0, 0, 0);
    opacity: 0;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    @media screen and (max-width: 50rem) {
        height: 35rem;
        width: 100%;
        display: block;
    }
}

.article.show {
    opacity: 1;
    z-index: 2;
}

.article:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.7);
    border-radius: 0.4rem;
    transform: perspective(500px) translate3d(0, 0, 0.2rem);
    z-index: 2;

    .article-img {
        border-bottom-left-radius: 0.39rem;
        border-top-left-radius: 0.39rem;
    }

    @media only screen and (max-width: 50rem) {
        box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.5);
        border-radius: 0;
        transform: perspective(500px) translate3d(0, 0, 0);
        z-index: 2;

        .article-img {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        }
    }
}

.article-information {
    padding: 3rem;

    @media screen and (max-width: 40rem) {
        padding: 1rem;
    }
}

.article-title {
    color: $color1;
    background-color: $color2;
    padding: 0.3rem;
    font-size: 2rem;
}

.article-text {
    color: $color3;
    font-size: 1.1rem;

    @media screen and (max-width: 40rem) {
        font-size: 1.1rem;
    }
}

.link {
    color: $link;
    text-decoration: underline;
}

.link:visited {
    color: $link;
    text-decoration: underline;
}

.link:hover {
    color: $link-h;
    text-decoration: none;
}

.article-img {
    width: 50%;
    height: auto;
    object-fit: cover;
    transition: border-radius 1s;

    @media screen and (max-width: 50rem) {
        width: 100%;
        height: 14rem;
    }
}

.proyects-section {
    border-bottom-width: 0.5rem;
    border-bottom-color: $color4;
    border-bottom-style: solid;
    background-color: $color1;
    padding: 2rem;
    padding-top: 7rem;
    padding-bottom: 5rem;
    position: relative;
    z-index: 1;
    color: $color1;
    margin: 0;
    transition: padding-top 1s, opacity 1s;
    opacity: 0.05;
}

.proyects-section.move {
    padding-top: 3rem;
    opacity: 1;
}

.proyects-slider-hider {
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
}

.proyects-slider-hider a {
    color: $color2;
}

.proyects-slider-hider a:visited {
    color: $color2;
}

.proyects-slider {
    display: flex;
    width: 100%;
    position: relative;
    height: 25rem;

    @media only screen and (max-width: 50rem) {
        height: 35rem;
    }
}

#proyects-next,
#proyects-previous {
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
    transform: translateX(0px);
    transition: transform 0.5s;
    position: absolute;
    margin-top: 10rem;
    margin-bottom: 10rem;
    height: auto;

    @media screen and (max-width: 50rem) {
        display: none;
    }
}

#proyects-next {
    right: 0;
}

#proyects-previous {
    left: 0;
}
#proyects-previous:hover {
    transform: translateX(-10px);
}

#proyects-next:hover {
    transform: translateX(10px);
}

@media screen and (max-width: 40rem) {
    #proyects-next {
        margin-left: 1rem;
        margin-right: 0rem;
    }

    #proyects-previous {
        margin-left: 0rem;
        margin-right: 1rem;
    }
}

.proyect {
    background-color: $color4;
    position: absolute;
    width: 85%;
    min-height: 25rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s, border-radius 1s, transform 1s, opacity 0.5s;
    display: flex;
    transform: perspective(500px) translate3d(0, 0, 0);
    opacity: 0;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    @media screen and (max-width: 50rem) {
        height: 35rem;
        width: 100%;
        display: block;
    }
}

.proyect.show {
    opacity: 1;
    z-index: 2;
}

.proyect:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.7);
    border-radius: 0.4rem;
    transform: perspective(500px) translate3d(0, 0, 0.2rem);

    .article-img {
        border-bottom-left-radius: 0.39rem;
        border-top-left-radius: 0.39rem;
    }
}

.information-section {
    padding-bottom: 5rem;
    padding-top: 4rem;
    margin: 0;
    width: 100%;
    background-color: $accent-color;
}

.information-title {
    color: black;
    padding: 0.5rem;
    font-size: 3rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.information-subtitle {
    color: black;
    width: 100%;
    text-align: center;
}

.information-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.3rem;
    color: black !important;
}

.information-subsection {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (max-width: 70rem) {
    .article-title {
        font-size: 1.6rem;
    }

    .article-text {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 60rem) {
    .information-text {
        width: 80%;
    }

    .information-subsection {
        width: 50%;
    }
}