@import "settings";

.front {
    padding: 5rem 2rem 5rem 2rem;
    text-align: center;
    
    @media only screen and (max-width: 67rem) {
        padding: 5rem 1rem 5rem 1rem;
    }

    @media only screen and (max-width: 35rem) {
        padding-top: 1.5rem;
    }
}

.no-webp .front {
    background: url("/Background.jpg") no-repeat scroll left top;
}

.subtitle-more-link {
    margin-bottom: 8rem;
    width: 10rem;
}

.alert,
.notice {
    top: 5.1rem;
}

.contacto {
    margin: 3rem auto 7rem auto;
}


.nosotros-front {
    margin: 0;
    color: $color2;
    background-color: $color1;
}

.nosotros-front .still {
    transform: translateY(3px);
    opacity: 0.7;
    transition: transform 1s, opacity 1s;
    transition-timing-function: ease-in-out;
}

.nosotros-front .move {
    transform: translateY(0px);
    opacity: 1;
}

.nosotros-front .big-text {
    width: 50rem;
    margin: 0 auto 0 auto;

    @media only screen and (max-width: 1000px) {
        width: 95%;
    }
}
