@import "settings";

nav {
    background-color: transparent;
    box-shadow: 1px 8px 8px rgba(0, 0, 0, 0);
    transition: background-color 0.7s, box-shadow 0.7s;
}

nav.show {
    background-color: #121212;
    box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.3);
}

nav.show-lock {
    background-color: #121212;
    box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.3);
}

main {
    margin: 0;
}

.nosotros-front {
    margin: 0;
    color: $color2;
    background-color: $color1;
}

.title {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin-top: 0;
    transform: translateY(3px);
    opacity: 0.7;
    transition: transform 1s, opacity 1s;
    transition-timing-function: ease-in-out;

    @media only screen and (max-width: 1000px) {
        font-size: 2.9rem;
    }
}

.title.move {
    transform: translateY(0px);
    opacity: 1;
}

.text {
    font-size: 1.4rem;
    text-align: center;
    width: 50rem;
    margin: 0 auto 0 auto;

    @media only screen and (max-width: 1000px) {
        width: 95%;
    }
}

#a1 {
    padding: 12rem 1rem 10rem 1rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 5;
    background: transparent;
    position: relative;
}

#a1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    background: url("/Background2.webp") no-repeat fixed;
    background-size: cover;
    -webkit-filter: blur(2px);
    /* Chrome, Opera */
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

    @supports (-webkit-touch-callout: none) {
        background: url("/Background2.webp") center top no-repeat scroll;
    }
}

.no-webp #a1::before {
    background: url("/Background2.jpg") no-repeat fixed;

    @supports (-webkit-touch-callout: none) {
        background: url("/Background2.jpg") center top no-repeat scroll;
    }
}

#a2 {
    background: url("/Background3.webp") no-repeat fixed;
    background-size: cover;
    padding: 10rem 1rem 9rem 1rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    @supports (-webkit-touch-callout: none) {
        background: url("/Background3.webp") center no-repeat scroll;
    }
}

.no-webp #a2 {
    background: url("/Background3.jpg") no-repeat fixed;

    @supports (-webkit-touch-callout: none) {
        background: url("/Background3.jpg") center top no-repeat scroll;
    }
}

#equipo-div {
    width: 100%;
    height: 100%;
    background-color: $color1;
    padding-top: 0.5rem;
}

#nosotros-link {
    color: #ccc !important;
}

.nosotros-title {
    color: $color2;
    font-size: 3rem;
    text-align: center;
}

.profiles {
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    transition: all 1s;
}

.profiles.move {
    padding-top: 0rem;
}

.profile {
    min-width: 30%;
    max-width: 30%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.profile-img {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
}

.profile-title {
    font-size: 1.4rem;
    color: $color2;
}

.profile-profession {
    font-style: italic;
    font-size: 1.2rem;
    color: $color3;
}

@media only screen and (max-width: 70rem) {
    .profile-img {
        width: 12rem;
        height: 12rem;
    }
}

@media only screen and (max-width: 60rem) {
    .profile {
        min-width: 40%;
        max-width: 40%;
    }

    .profile-img {
        width: 11rem;
        height: 11rem;
    }

    .profile-title {
        font-size: 1.2rem;
    }

    .profile-profession {
        font-size: 1rem;
    }
}
