@import "settings";

.index-title {
    color: $color1;
    background-color: $color2;
    margin: 8rem 0 0 0;
    width: 100%;
    padding: 0.2rem;
    font-size: 4.5rem;
    text-align: center;

    @media only screen and (max-width: 70rem) {
        margin: 8rem 15% 0 15%;
        width: 70%;
        font-size: 3.5rem;
    }

    @media only screen and (max-width: 45rem) {
        margin: 8rem 5% 0 5%;
        width: 90%;
        font-size: 3rem;
    }
}

.products-div {
    display: block;
    width: 70%;
    margin: 0 5% 5rem 25%;
    color: $color2;

    @media only screen and (max-width: 72rem) {
        width: 70%;
        margin: 0 4% 5rem 26%;
    }

    @media only screen and (max-width: 50rem) {
        width: 92.5%;
        margin: 0 auto 5rem auto;
    }
}

.products-div2 {
    margin: 0 15% 5rem 15%;

    @media only screen and (max-width: 72rem) {
        margin: 0 15% 5rem 15%;
    }
}

.products-sub-div {
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: 50rem) {
        display: block;
    }
}

.product {
    width: 47%;
    margin: 1.5%;
    height: 13rem;

    @media only screen and (max-width: 50rem) {
        width: 100%;
        margin: 1rem 0 1rem 0;
    }
}

.product a {
    width: 100%;
    margin: 0;
    display: flex;
    height: 100%;
}

.product-img {
    min-width: 50%;
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.product-title {
    margin: 0;
}

.product-info {
    padding: 1rem;
}

.product-more-link {
    width: 10rem;
    display: block;
}

.menu {
    position: fixed;
    left: 1rem;
    top: 7rem;
    bottom: 0rem;
    overflow-y: auto;
    color: $color2;

    @media only screen and (max-width: 50rem) {
        display: none;
    }
}

.icon-tabler-minus-vertical {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.icon-tabler-minus-vertical path {
    transition: all 0.5s;
}

.menu h4 {
    transition: padding 0.5s;
    color: #AAA;
}

.menu-link {
    color: #AAA;
}

.menu-link:visited {
    color: #AAA;
}

.menu-link:hover {
    color: #AAA;
}

.category {
    border-bottom: solid $color6 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 0;

    @media only screen and (max-width: 50rem) {
        display: block;
    }
}

h4.visible {
    padding-left: 0.4rem;
    color: $color2;
}

.visible .menu-link {
    color: $color2;
}

.visible .menu-link:visited {
    color: $color2;
}

.visible .menu-link:hover {
    color: $color2;
}



.popup .info {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.popup .info h2 {
    margin: auto 0 auto 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.popup .popuptext {
    display: none;
    width: 160px;
    background-color: $color7;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
    line-height: 45px;
}

.sort {
    margin: 0;
}

.popup .show {
    display: block;
    opacity: 1;
}