@import "settings";

#show {
    padding: 1rem;
    background-color: $color1;
    color: $color3;
    font-size: 1.1rem;
    min-height: 35rem;
}

.product {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: 55.6rem) {
        width: 95%;
    }
}

.product-title {
    color: $color2;
    font-size: 3rem;
    margin: 0;

    @media screen and (max-width: 40rem) {
        font-size: 1.7rem;
    }
}

.category-title {
    color: $color2;
    font-size: 3rem;
    margin: 0;

    @media screen and (max-width: 40rem) {
        font-size: 1.7rem;
    }
}

.product-description {
    font-size: 1.3rem;
    font-family: "Montserrat";
    margin-top: 0;
}

.product-img {
    width: 100%;
    height: auto;
}

#all-categories {
    display: flex;
}

#all-categories p {
    margin-top: auto;
    margin-bottom: auto;
}

.category-link {
    color: $link;
    text-decoration: underline;
}

.category-link:hover {
    color: $link-h;
    text-decoration: none;
}

.category-link:visited {
    color: $link-h;
    text-decoration: underline;
}

.product .card {
    height: 16rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: 67rem) {
        height: auto;
    }
}
