// $accent-color:  #f5a639; // ~hsl(41, 92%, 50%)
// $default-color: hsl(210, 60%, 20%);

$accent-color: #f5a639; // ~hsl(41, 92%, 50%)
$color1: #000;
$color2: #FFF;
$color4: #232323;
$color3: #EfEfEf;
$color6: #222; 
$color5: #CCC;
$link: hsl(210, 80%, 70%);
$link-h: hsl(215, 80%, 60%);


// @font-face {
//     font-family: Montserrat;
//     src: font_url('Montserrat-Regular.ttf');
// }

// @font-face {
//     font-family: 'Varela Round';
//     src: font_url('VarelaRound-Regular.ttf');
// }
