@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-display: swap;
    src: url("/assets/SourceSansPro-Variable.woff2") format("woff2-variations");
}

$accent-color: hsl(20, 70, 54);
$accent-color-dimmed: hsl(20, 65, 52);
$background-color: hsl(20, 30%, 94.4%);
$background-color-dimmed: hsl(20, 25%, 90%);
$gray: hsl(0, 0, 20);
$color1: #000;
$color2: #fff;
$color4: #232323;
$color3: #efefef;
$color6: #222;
$color5: #ccc;
$color7: #111;
$link: hsl(210, 80%, 70%);
$link-h: hsl(215, 80%, 60%);
