@import "settings";
@import "actiontext";

#show {
    padding: 1rem;
    font-size: 1.1rem;
    min-height: 35rem;
}

.content {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: 55.6rem) {
        width: 95%;
    }
}

.content .categories {
    font-style: italic;
}

.article-img,
.product-img {
    margin-top: 2rem;
    width: 85%;
    height: auto;
    max-height: 50rem;
    object-fit: cover;
    display: block;
}

.show-text {
    font-size: 1.1rem;
}

#back-to-top {
    position: fixed;
    color: $color2;
    font-size: 3rem;
    left: 0;
    bottom: 0;
    margin: 2rem;
    display: none;
    cursor: pointer;
    transition: transform 0.8s;
    transform: translateY(0px);

    @media only screen and (max-width: 40rem) {
        display: none;
        visibility: hidden;
    }
}

#back-to-top:hover {
    transform: translateY(-10px);
}


#all-categories {
    display: flex;
}

#all-categories p {
    margin-top: auto;
    margin-bottom: auto;
}

.category-link {
    color: $link;
    text-decoration: underline;
}

.category-link:hover {
    color: $link-h;
    text-decoration: none;
}

.category-link:visited {
    color: $link-h;
    text-decoration: underline;
}