@import "settings";

h1 {
    color: $color2;
    font-size: 3rem;
    margin-left: 5%;
    padding-top: 2rem;
}

table,
th,
td {
    border: 1px solid $color2;
    border-collapse: collapse;
}

.table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    margin-top: 18px;
}

.user {
    color: $color2;
    min-width: 100%;
}

th {
    font-size: 1.5rem;
    padding: 0.2rem;
}

td {
    font-size: 1.12rem;
    padding: 0.3rem;
}

input {
    margin-left: 5%;
    margin-right: 5%;
    width: 85%;
    padding: 1rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: $color6;
    border-radius: 0.5rem;
    border-style: none;
    color: $color2;
}

.times-contacted, td a {
    color: hsl(200, 60, 40);
    text-decoration: underline;
}

@media only screen and (max-width: 50rem) {
    input {
        padding: 2.5%;
    }
}

.contact-info {
    position: fixed;
    top: 5.15em;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background-color: black;
    padding: 2rem;
    overflow-y: auto;
    display: none;
}
