@import "settings";

// For /users //

table,
th,
td {
    border: 0.1rem solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

.table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    margin-top: 18px;
    color: black;
}

th {
    font-size: 1.5rem;
    padding: 0.2rem;
}

td {
    font-size: 1.12rem;
    padding: 0.3rem;

    & .link {
        font-size: inherit;
    }

    & svg { 	
        align-items: center;
        display: inline-flex;
        justify-content: center;
        width: 1rem;
        height: 1rem;
    }
}

.new-user {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: 67rem) {
        width: 95%;
    }
}

.contact-info {
    position: fixed;
    top: 5.15em;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    background-color: white;
    padding: 2rem;
    overflow-y: auto;
    display: block;

    &.hidden {
        display: none;
    }
}

#user-index-field {
    width: 100%;

    & input {
        font-size: 1.5rem;
        width: 90%;
    }
}

.icon-tabler-x, 
.times-contacted {
    cursor: pointer;
}