<% content_for :title, t('admin_shared.edit') + ' ' + Category.model_name.human %>

<%= tag.h1 t('admin_shared.edit') + ' ' + Category.model_name.human, class: 'main-title' %>

<div id='edit'>
    <%= render 'form' %>
</div>
