<% content_for :title, "#{I18n.t "categories.categories"} | Olguitech s.a.s." %>

<h1 class='main-title'> <%= I18n.t "categories.categories" %> </h1>

<%= alternative_cards_for @categories, webp: @webp %>
