<head>
    <%= stylesheet_link_tag 'actiontext' %>
</head>

<div id='edit'>
    <%= render 'layouts/back' %>

    <h1 class='show-title gold'>Crear Categoria</h1>

    <%= render 'form', category: @category %>
</div>