<style>
    .categories-link {
        color: #CCC !important;
    }
</style>

<% content_for :title, "Crear Categoría" %>

<h1 class='main-title'>Crear Categoría</h1>

<div id='edit'>
    <%= render 'form', category: @category %>
</div>