<style>
    .products-link {
        color: #CCC !important;
    }
</style>

<% content_for :title, "Editar producto #{@product.title}" %>

<h1 class='main-title'>Editar Producto</h1>

<div id='edit'>
    <%= render 'form', product: @product %>
</div>