<head>
    <%= stylesheet_link_tag 'actiontext' %>

    <style>
        .products-link {
            color: #CCC !important;
        }
    </style>
</head>

<div id='edit'>
    <%= render 'layouts/back' %>

    <h1 class='show-title gold'>Editar Producto</h1>

    <%= render 'form', product: @product %>
</div>