<head>
    <%= stylesheet_link_tag 'actiontext' %>
</head>

<div id='edit'>
    <%= render 'layouts/back' %>

    <h1 class='show-title gold'>Crear Producto</h1>

    <%= render 'form', product: @product %>
</div>