<h1>Editing super category</h1>

<%= render "form", super_category: @super_category %>

<br>

<div>
  <%= link_to "Show this super category", @super_category %> |
  <%= link_to "Back to super categories", super_categories_path %>
</div>
