<% content_for :title, "Editar super categoría #{@super_category.title}" %>

<h1 class='main-title'>Editar Super Categoría</h1>

<div id='edit'>
    <%= render "form", super_category: @super_category %>
</div>
