<p style="color: green"><%= notice %></p>

<h1>Super categories</h1>

<div id="super_categories">
  <% @super_categories.each do |super_category| %>
    <%= render super_category %>
    <p>
      <%= link_to "Show this super category", super_category %>
    </p>
  <% end %>
</div>

<%= link_to "New super category", new_super_category_path %>
