<%= t("mail.reset.1_html", email: @resource.email) %>

<p><%= link_to I18n.t("users.change_password"), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<%= t("mail.reset.2_html", email: @resource.email) %>