<p>Hola <%= @resource.email %>!</p>

<p>Has pedido un link para cambiar tu contraseña. Puedes hacerlo con el link de abajo.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no pediste esto, puedes ignorar este email.</p>
<p>Tu contraseña no cambiará hasta que no accedas a este link y crees una nueva contraseña.</p>
