<p>Hola <%= @resource.email %>!</p>

<p>Has pedido un link para cambiar tu contrase침a. Puedes hacerlo con el link de abajo.</p>

<p><%= link_to 'Cambiar contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no pediste esto, puedes ignorar este email.</p>
<p>Tu contrase침a no cambiar치 hasta que no accedas este link y crees una nueva.</p>
